<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('head'); %>
</head>
<body class="container">

<header>
  <%- include('header'); %>
</header>

<main>
  <div class="jumbotron">
    <h1>List Item</h1>
    <form method="POST" action="" id="itemform">
        <!-- user input-->
        Item name:<br>
        <input type="text" name="itemname" placeholder="apple" required><br>
        Sell price:<br>
        <input type="text" name="price" placeholder="1.00" required><br>
        Description:<br>
        <textarea rows="4" cols="50" name="description" form="itemform" placeholder="An edible fruit produced by an apple tree." required></textarea><br>
        <label for="imagefile">Image: </label>
        <input id="imagefile" type="file" name="upload"><br><br><br>
        <!-- submit button -->
        <input type="submit" value="confirm">
    </form>
  </div>
</main>

<footer>
  <%- include('footer'); %>
</footer>

</body>
</html>