<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('head'); %>
  </head>
  <body class="container">
    <header><%- include('header'); %></header>

    <main>
      <div class="jumbotron">
        <h1>Welcome!</h1>
        <input type="text" id="input" placeholder="0.00" />
        <button
          type="button"
          onclick="sendMessage(document.getElementById('input').value)"
          id="submit"
        >
          Submit Bid
        </button>
        <p id="bids"></p>
      </div>
    </main>

    <footer><%- include('footer'); %></footer>
  </body>
  <script>
    const socket = new WebSocket("ws://localhost:3000");

    socket.addEventListener("open", function (event) {
      console.log("Connected to WS Server");
    });

    socket.addEventListener("message", function (event) {
      console.log("message from server", event.data);
    });

    const sendMessage = (bid) => {
      socket.send(bid);
    };
  </script>
</html>
