<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('head'); %>
</head>
<body class="container">

<header>
  <%- include('header'); %>
</header>

<main>
  <div class="jumbotron">
    <h1>ITEMS TEST HEADER</h1>
    <p>ITEMS TEST PARAGRAPH</p>
  </div>
</main>

</body>
</html>