<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('head'); %>
</head>
<body class="container">

<header>
  <%- include('header'); %>
</header>

<main>
  <div class="jumbotron">
    <h1>Item Listings</h1>
    <a class="nav-link" href="/add-item">List item</a>
  </div>
</main>
<footer>
    <%- include('footer'); %>
</footer>


</body>
</html>