<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('head'); %>
</head>
<body class="container">

<header>
  <%- include('header'); %>
</header>

<main>
  <div class="jumbotron">
    <h1>LOGIN TEST HEADER</h1>
    <p>LOGIN TEST PARAGRAPH</p>
  </div>
</main>

</body>
</html>