<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('head'); %>
</head>
<body class="container">

<header>
  <%- include('header'); %>
</header>

<main>
  <div class="jumbotron">
    <h1>Login</h1>
    <form action="" method="post">
        <!-- user input-->
        Username:<br>
        <input type="text" name="username" placeholder="Username" required><br><br>
        Password:<br>
        <input type="password" name="password" placeholder="Password" required><br><br>
        <!-- submit button -->
        <input type="submit" value="login">
      </form>
  </div>
</main>

<footer>
    <%- include('footer'); %>
</footer>

</body>
</html>